$colorWhite : #FFFFFF;
$colorBlack : #000000;
$bgcolor-b : rgba(0,0,0,0.35);
$fontSize-14 : 14px;
$fontSize-16 : 16px;
$fontSize-18 : 18px;
$fontSize-20 : 20px;
$fontSize-24 : 24px;
$fontSize-36 : 36px;
$fontColor: #3D1101;
$fontColor-chef:#EFE9E7;
$fontFamily : Microsoft JhengHei;